{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    // turn on errors for missing imports
    // "import/no-unresolved": "error"
    "import/no-unresolved": [2, { "caseSensitive": false }]
  }
}
